// Set font

@mixin fontface($name, $file, $weight: normal, $style: normal) {
    $path: "./../../fonts/" + $file + "/" + $name;
    @font-face {
        font-family: "#{$name}";
        src: url($path+".eot");
        src: url($path+".eot?#iefix") format("embedded-opentype"), url($path+".woff") format("woff"), 
        url($path+".ttf") format("truetype"), url($path+".svg#"+$name) format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}