// Colors

$yellow: #FFE600;
$mono-100: #333333;
$mono-80: #666666;
$mono-60: #999999;
$white: #EEEEEE;
$blue: #3483FA;

// Dimensions

$radius: .25rem;
$img-small: 11.25rem;
$img-large: 42.5rem;
$margin: 1rem;
$padding: 2rem;

// Fonts

$metropolis-regular: "Metropolis-Regular";
$metropolis-light: "Metropolis-Light";
$metropolis-medium: "Metropolis-Medium";
$metropolis-bold: "Metropolis-Bold";