/* You can add global styles to this file, and also import other style files */
@import './assets/styles/main.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $metropolis-regular;
}